@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>
        Туристичний гід
    </title>

</head>

<body>
    <h3>Оберіть частину світу</h3>

    <img src="~/images/fon_11.jpg" width="800" height="500"/>

</body>

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    </div>*@
